.col-1 {
	width:156px;
	margin-right:44px;
	margin-left:50px;
}
.col-2 {
	width:586px;
	margin-right:44px;
}
.col-3 {
	width:160px;
}
.col-1 {
	font-size:14px;
}
#page2 .col-1 {
	margin-right:84px;
}
#page2 .col-2 {
	width:506px;
	margin-right:84px;
}
#page3 .col-1 {
	margin-right:84px;
}
#page3 .col-2 {
	width:506px;
	margin-right:84px;
}
#page4 .col-1 {
	margin-right:84px;
}
#page4 .col-2 {
	width:506px;
	margin-right:84px;
}
#page5 .col-1 {
	margin-right:44px;
}
#page5 .col-2 {
	width:586px;
	margin-right:44px;
}
#page6 .col-1 {
	margin-right:84px;
}
#page6 .col-2 {
	width:506px;
	margin-right:84px;
}
#plus{
    height:390px;
    width:586px;
}
#bara{
    font-size:20px;
}
#t{
    margin-top:300px;
}
#l
{
    margin-left:100px;
}