@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body>

    <div id="b1">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="page-header">
                <h1>8Tracks<small>    An Online Radio</small></h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>Wellcome to 8Tracks!!</h1>
                    <p>8tracks.com is an internet radio and social networking website revolving around the concept of streaming user-curated playlists consisting of at least 8 tracks. Users create free accounts and can either browse the site and listen to other user-created mixes, and/or they can create their own mixes. The site also has a subscription-based service, 8 tracks plus, although its features are still evolving. Currently, a $25 payment purchases a 6-month subscription, during which time advertisements are removed from the website interface while subscribers are logged in. Specific DJ-focused features are in the works, but will likely include profile customization, mix analytics, and unlimited uploads.</p>
                    <br />
                    <p>8tracks was recognized on Time magazine's 2011 incarnation of its “50 Best Websites” List.[1] 8tracks has also received positive press in Wired,[2] CNET,[3] and Business Insider.[4]</p>
                    <p>
                        <a href="/Home/Index" class="btn btn-large btn-success">Go Back</a>
                    </p>


                </div>
            </div>
           
        </div>
    </div>
    
             
   
        </div>

</body>
</html>
